*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}




.intro_slide{
    min-height: 86vh;
    min-width: 1024px;
    background-color: black;
    text-align: center;
    position: relative;
    

    

}

.intro_slide h1{
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 400%;
    position: absolute;
    top: 138.7px;
    left: 24%;
    

}


/*.intro_slide_logo h1{
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 400%;
    position: static;
    
    

}*/


.intro_slide_logo{
    background-color: black;
    position: absolute;
    top: 40%;
    left: 24%;
    

}

.intro_slide_logo h2{
    color: whitesmoke;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    font-size: 400%;

}

nav{
    /* Hover animations not done yet*/
    /* smooth scroll links need to be made to divs*/
    /* making bar constant erregadless of scroll needed, 
    but keep bar at bottom of intro page
    */ 
    

    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:black;
    font-family: 'Source Code Pro', monospace;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    
    
    
}


.logo{
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    display: flex;

}

.nav_links{
    display: flex;
    justify-content: space-around;
    width: 47%;
    color: whitesmoke;
    font-size: 16px;
    


}

.nav_links a{
    color:  whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: Extra-Light;
}

nav ul{
    list-style-type: none;

}
.burger div{
    width: 25px;
    height: 2px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;

}


.burger{
    display: none;
    cursor: pointer;
    transition: all 0.8s ease;
}

@media screen and (max-width:1024px){
    .nav_links{
        width: 60%;
    
    }



}


@media screen and (max-width:760px){
    body{
        overflow-x: hidden;
    }
    .nav_links{
        position: absolute;
        right:0px;
        height: 92vh;
        top: 8vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 42%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        



    }
    .nav_links li{
        opacity: 0;

    }
    .burger{
        display: block;
    }


    .nav-active{
        transform: translateX(0%);
    }
}


@keyframes navLinkFade{
    from{
        opacity: 0%;
        transform: translateX(50px)


    }
    to{
        opacity: 100%;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0%;


}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);


}


.about{
    /* add contant picture and smooth scrolling for images*/
    /* add size of page and font etc.*/
    /* headings and text and imags should be animated in with a simple fade or transition in*/
    /* alternate "slides" between balck and white, should give cool effect */
    /* about me will be balck text white backround, greyscale picture will work best*/
    background-color:whitesmoke;
    min-height: 100vh;
    min-width: 1024px;
    position: relative;
    



}



.about_logo h1{
    color: black;
    font-size: 1000%;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    justify-content: space-around;
    align-items: center;
    top: 10px   ;
    left: 40px;
    position: absolute;
    transform: translate(40px,10px);
    
}


.about_text{
    text-align: justify;
    position: absolute;
    left: 1000px;
    top: 250px;
    width: 200px;



}

.about_text1 p{
    color: black;
    
    
}








 

  

  #EffImg{
      display: flex;
      max-width: 100px;
      max-height: 100px;
      width: auto;
      height: auto;
      

  }
  #ProblemSolvingImg{
      display: flex;
      max-width: 100px;
      max-height: 100px;
      width: auto;
      height: auto;

  }
  #ComImg{
      display: flex;
      max-width: 100px;
      max-height: 100px;
      width: auto;
      height: auto;

  }
  #DesignImg{
      display: flex;
      max-width: 100px;
      max-height: 100px;
      width: auto;
      height: auto;

  }
  #TWImg{
      display: flex;
      max-width: 100px;
      max-height: 100px;
      width: auto;
      height: auto;

  }

  #FlexImg{
    display: flex;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;

  }


.aboutcolom1{
    float: left;
    width: 70%;
    
    margin-top: 220px;
    padding-left: 145px;
    
    
}

.aboutcolom2{
    
    width:30%;
    float: left;
    margin-top: 225px;
    text-align: justify;
    padding-right: 70px;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    font-size: 12;
    
}

.image1{
    float: left;
    width: 33%;
    
}




.imgrow1::after {
    content: "";
    clear: all;
    display: table;
}


.image2{
    width:33%;
    float: left;
    margin-top: 60px;

}

.imgrow2{
    margin-top: 100px;
}

.image2 figcaption{
    font-family: 'Source Code Pro', monospace;
    font-size: 17;
    font-weight: lighter;
    text-align: left;
    padding-top: 4px;
    color: black;
}

.image1 figcaption{
    font-family: 'Source Code Pro', monospace;
    font-size: 17;
    font-weight: lighter;
    text-align: left;
    padding-top: 4px;
    color: black;
}


.aboutcolom2 ul{
    padding-left: 40px;


}

.projects_slide{
    background-color:black;
    min-height: 110vh;
    min-width: 1024px;
    position: relative;
    
}

.project_logo{
    color: whitesmoke;
    padding-top: 60px;
    padding-left: 550px;
    font-family: 'Source Code Pro', monospace;
    font-size: 800%;
    font-weight: lighter;
    position: fixed;
    

}


.project_coming_soon h2{
    color: whitesmoke;
    font-size: 400%;
    padding-top: 200px;
    padding-left: 512px;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    

}


.bar{
    height: 30px;
    max-width: 800px;
    margin: 0 auto 10px auto;
    line-height: 30px;
    font-size: 16px;
    color: whitesmoke;
    padding: 0 0 0 10px;
    position: relative;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
}


.bar::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 30px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
}

.bar::after{
    content: '';
    background: black;
    height: 30px;
    transition: 0.7s;
    display: block;
    width: 100%;
    -webkit-animation: bar-before 1 4.0s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@-webkit-keyframes bar-before{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
}


.bar1::after{
    max-width: 95%;
}

.bar2::after{
    max-width: 90%;
}

.bar3::after{
    max-width: 80%;
}

.bar4::after{
    max-width: 75%;
}

.bar5::after{
    max-width: 70%;
}

.bar6::after{
    max-width: 70%;
}

.bar7::after{
    max-width: 70%;
}

.bar8::after{
    max-width: 60%;
}

.bar9::after{
    max-width: 60%;
}

.bar10::after{
    max-width: 50%;
}
      
.skills_colom_1{
    width: 60%;
    padding-left: 5%;
    float: left;
    
}



.skills_colom_2{
    width: 40%;
    float: left;
    padding-left: 40px;
}

.skills_content{
    width: 100%;
}

.skills_logo{
    font-size: 400%;
    font-family:'Source Code Pro', monospace;
    font-weight: lighter;
    color: black;
    padding-top: 80px;
    padding-left: 60px;
    


}


.skills_colom_2 h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 18;
    font-weight: lighter;
    padding-bottom: 20px;
    padding-top: 100px;
    

}

.skills_colom_2 p{
    font-family: 'Source Code Pro', monospace;
    font-size: 12;
    font-weight: lighter;
    
    

}

.skills_slide{
    min-height: 105vh;
}


.contact_slide{
    min-width: 1024px;
    min-height: 110vh;
    background-color: black;
    position: relative;
    


}

.contact_logo h1{
    font-size: 800%;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    color: whitesmoke;
}


@keyframes fade-in {
    from {opacity: 0; transform: scale(.3,.8)}
    to {opacity: 1;}
}

.anm{
    opacity: '0';
}


.anm_fin{
    animation: fade-in 2.2s;
}

.hidden {
    opacity: 0;
  }

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 2.3s;
}
  
.contact_img{
    width: 33%;
    float:left;
    padding-left: 175px;
    padding-top: 200px;


}

#contactI{
    display: flex;
      max-width: 100px;
      max-height: 100px;
      width: auto;
      height: auto;

}

.contact_details{
    font-family: 'Source Code Pro', monospace;
    font-size: 110%;
    font-weight: lighter;
    padding-bottom: 20px;
    padding-top: 460px;
    padding-left: 41%;
    color: whitesmoke;

}

#copyright{
    padding-top: 100px;
}